* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.j-space-between {
  display: flex;
  justify-content: space-between;
}
.j-center {
  display: flex;
  justify-content: center;
}
.align-center {
  display: flex;
  align-items: center;
}
